* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}


.container {
    width: 100vw;
    height: 100vh;
    background: url("bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(100px);
    position: absolute;
}

.loading-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150px;
    color: #DFFFD8;
    z-index: 1;
    transition: opacity 0.5s ease;
}