* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
}

.title {
    margin-bottom: 20px;
    font-size: 40px;
    border-bottom: 2px solid rosybrown;

    
}
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    overflow: hidden;
}

.card {
    background-position: center !important;
    background-size: cover !important;;
    background-repeat: no-repeat !important;;
    height: 90vh;
    margin: 0 10px;
    border-radius: 100px;
    flex: 1;
    transition: flex 1s ease;
    display: flex;
    justify-content: center;
    align-items: end;
    
} 

.card.active {
    flex: 3;
}

.card h2 {
    color: #fff;
    margin-bottom: 10px;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    background-color:rosybrown;
    opacity: 0.58;
    
}
