* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
    background-color: #333;
    color: #fff;

  
}

.container {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
}
#header {
    text-align: center;
    margin-bottom: 100px;
}



#header h1 {
    margin: 10px 0;
    padding: 10px 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(57, 112, 160);
    border-bottom: 3px solid #f5f2f2;
    display: inline-block;
}

.section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    align-items: center;
    opacity: 0;
    transition: all 0.8s ease;
}

.section.show {
    opacity: 1;
}

.section .section-img img {
    width: 100%;
    border-radius: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transform: translatey(200px);
    opacity: 0;
    transition: all 0.8s ease;
}

.section.show .section-img img {
    transform: translatey(0px);
    opacity: 1;
}

.section-img {
    padding: 10px;
    
}

.section .section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translatey(200px);
    opacity: 0;
    transition: all 0.8s ease;
    width: 100%;
}

.section.show .section-text {
    transform: translatey(0px);
    opacity: 1;

}
.section-text h2 {
    margin-bottom: 10px;
    font-size: 25px;
}

.section-text p {
    margin-bottom: 10px;
    font-size: 16px;

}